<!-- templates/item/item-archetype-sheet.html -->
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Archetype Name"/></h1>
    </div>
  </header>
  
  <div class="sheet-body">
    <div class="item-details">
      <div class="form-group">
        <label>HP Bonus</label>
        <input type="text" name="system.hp_bonus" value="{{system.hp_bonus}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label>Background Bonus</label>
        <input type="text" name="system.background_bonus" value="{{system.background_bonus}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label>Armor Proficiency</label>
        <select name="system.armor_proficiency" data-dtype="String">
          <option value="" {{#unless system.armor_proficiency}}selected{{/unless}}>None</option>
          <option value="light" {{#if (eq system.armor_proficiency "light")}}selected{{/if}}>Light</option>
          <option value="medium" {{#if (eq system.armor_proficiency "medium")}}selected{{/if}}>Medium</option>
          <option value="heavy" {{#if (eq system.armor_proficiency "heavy")}}selected{{/if}}>Heavy</option>
        </select>
      </div>
      <div class="form-group">
        <label>Exploit Damage</label>
        <input type="text" name="system.exploit_damage" value="{{system.exploit_damage}}" placeholder="1d6"/>
      </div>
      <div class="form-group">
        <label>
          <input type="checkbox" name="system.magical_aptitude" {{#if system.magical_aptitude}}checked{{/if}}/>
          Magical Aptitude (Use higher of WIS/INT for WP)
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="checkbox" name="system.spiritual_reservoir" {{#if system.spiritual_reservoir}}checked{{/if}}/>
          Spiritual Reservoir (Use higher of WIS/INT for WP)
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="checkbox" name="system.cantrip_choice" {{#if system.cantrip_choice}}checked{{/if}}/>
          Cantrip Choice
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="checkbox" name="system.choose_tradition" {{#if system.choose_tradition}}checked{{/if}}/>
          Choose Magic Tradition
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="checkbox" name="system.haunted_past" {{#if system.haunted_past}}checked{{/if}}/>
          Haunted Past (Free spirit background)
        </label>
      </div>
    </div>
    
    <div class="item-description">
      <h3>Description</h3>
      <textarea name="system.description" rows="10">{{system.description}}</textarea>
    </div>
    
    <div class="weapon-skills-section">
      <h3>Starting Weapon Skills</h3>
      <div class="weapon-skills-list">
        {{#each system.weapon_skills as |skill|}}
        <div class="weapon-skill-entry">
          <select name="system.weapon_skills.{{@index}}.name" data-dtype="String">
            <option value="">Select Skill...</option>
            <option value="Swords" {{#if (eq skill.name "Swords")}}selected{{/if}}>Swords</option>
            <option value="Axes" {{#if (eq skill.name "Axes")}}selected{{/if}}>Axes</option>
            <option value="Bludgeons" {{#if (eq skill.name "Bludgeons")}}selected{{/if}}>Bludgeons</option>
            <option value="Polearms" {{#if (eq skill.name "Polearms")}}selected{{/if}}>Polearms</option>
            <option value="Bows" {{#if (eq skill.name "Bows")}}selected{{/if}}>Bows</option>
            <option value="Thrown" {{#if (eq skill.name "Thrown")}}selected{{/if}}>Thrown</option>
            <option value="Shields" {{#if (eq skill.name "Shields")}}selected{{/if}}>Shields</option>
            <option value="Elemental Magic" {{#if (eq skill.name "Elemental Magic")}}selected{{/if}}>Elemental Magic</option>
            <option value="Life Magic" {{#if (eq skill.name "Life Magic")}}selected{{/if}}>Life Magic</option>
            <option value="Conjuring Magic" {{#if (eq skill.name "Conjuring Magic")}}selected{{/if}}>Conjuring Magic</option>
            <option value="Mental Magic" {{#if (eq skill.name "Mental Magic")}}selected{{/if}}>Mental Magic</option>
            <option value="Spirit-Touched" {{#if (eq skill.name "Spirit-Touched")}}selected{{/if}}>Spirit-Touched</option>
          </select>
          <input type="text" name="system.weapon_skills.{{@index}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
          <button type="button" class="remove-skill" data-index="{{@index}}">Remove</button>
        </div>
        {{/each}}
      </div>
      <button type="button" class="add-weapon-skill">Add Weapon Skill</button>
    </div>
  </div>
</form>
