<div class="gf-item">
  <label>Name</label><input name="name" value="{{document.name}}"/>
  <label>DR</label><input type="number" name="system.dr" value="{{system.dr}}"/>
  <label>HP</label><input type="number" name="system.hp" value="{{system.hp}}"/>
  <div>Notes/Penalties: <input name="system.penalties" value="{{system.penalties}}"/></div>
</div>
