<div class="gf-item">
  <label>Name</label>
  <input name="name" value="{{document.name}}"/>

  <label>Rank</label>
  <input type="number" name="system.rank" value="{{system.rank}}"/>

  <label>Description</label>
  <textarea name="system.text" rows="8" placeholder="Skills granted, narrative hooks, starting gear, contacts…">{{system.text}}</textarea>
</div>
