<div class="gf-item">
  <label>Name</label>
  <input name="name" value="{{document.name}}"/>

  <label>Quantity</label>
  <input type="number" name="system.quantity" value="{{system.quantity}}" min="0"/>

  <label>Weight</label>
  <input type="number" name="system.weight" value="{{system.weight}}" min="0" step="0.1"/>

  <label>Description</label>
  <textarea name="system.text" rows="6" placeholder="What is it? Special uses or rulings.">{{system.text}}</textarea>
</div>
