<div class="gf-item">
  <label>Name</label><input name="name" value="{{document.name}}"/>
  <label>Hardness</label><input type="number" name="system.hardness" value="{{system.hardness}}"/>
  <label>HP</label><input type="number" name="system.hp" value="{{system.hp}}"/>
</div>
