<div class="gf-item">
  <label>Name</label>
  <input name="name" value="{{document.name}}"/>

  <label>Rank</label>
  <input type="number" name="system.rank" value="{{system.rank}}"/>

  <label>WP Cost</label>
  <input type="number" name="system.wpCost" value="{{system.wpCost}}"/>

  <label>Effect</label>
  <textarea name="system.effect" rows="6" placeholder="What this spirit ability does, any checks, durations, etc.">{{system.effect}}</textarea>
</div>
