<div class="gf-item">
  <label>Name</label><input name="name" value="{{document.name}}"/>
  <label>Damage</label><input name="system.damage" value="{{system.damage}}"/>
  <label>Skill Bonus</label><input type="number" name="system.skill" value="{{system.skill}}"/>
  <div>Properties: {{system.properties}}</div>
</div>
