<div class="godfall chat-card item-card" data-item-id="{{item.id}}">
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{#if system.description}}
            {{{system.description}}}
        {{else}}
            <p>{{item.name}} - {{titleCase item.type}}</p>
        {{/if}}
    </div>

    <footer class="card-footer">
        {{#if system.damage}}<span><strong>Damage:</strong> {{system.damage}}</span>{{/if}}
        {{#if system.properties}}<span><strong>Properties:</strong> {{system.properties}}</span>{{/if}}
        {{#if system.dr}}<span><strong>DR:</strong> {{system.dr}}</span>{{/if}}
        {{#if system.evasionPenalty}}<span><strong>Evasion Penalty:</strong> {{system.evasionPenalty}}</span>{{/if}}
        {{#if system.hardness}}<span><strong>Hardness:</strong> {{system.hardness}}</span>{{/if}}
        {{#if system.cost}}<span><strong>Cost:</strong> {{system.cost}} coins</span>{{/if}}
        {{#if system.weight}}<span><strong>Weight:</strong> {{system.weight}} lbs</span>{{/if}}
        {{#if system.hp}}<span><strong>HP:</strong> {{system.hp.value}}/{{system.hp.max}}</span>{{/if}}
        {{#if (eq item.type "spell")}}<span><strong>WP Cost:</strong> {{system.cost}}</span>{{/if}}
        {{#if system.tradition}}<span><strong>Tradition:</strong> {{titleCase system.tradition}}</span>{{/if}}
        {{#if system.talentType}}<span><strong>Type:</strong> {{titleCase system.talentType}}</span>{{/if}}
    </footer>
</div>">
        {{#if item.system.properties}}<span><strong>Properties:</strong> {{item.system.properties}}</span>{{/if}}
        {{#if item.system.hp}}<span><strong>Weapon HP:</strong> {{item.system.hp.value}}/{{item.system.hp.max}}</span>{{/if}}
    </footer>
</div>
