<div class="godfall chat-card item-card" data-item-id="{{item.id}}">
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{{system.description}}}
    </div>

    <footer class="card-footer">
        {{#if system.damage}}<span><strong>Damage:</strong> {{system.damage}}</span>{{/if}}
        {{#if system.properties}}<span><strong>Properties:</strong> {{system.properties}}</span>{{/if}}
        {{#if system.dr}}<span><strong>DR:</strong> {{system.dr}}</span>{{/if}}
        {{#if system.evasionPenalty}}<span><strong>Evasion Penalty:</strong> {{system.evasionPenalty}}</span>{{/if}}
        {{#if system.hardness}}<span><strong>Hardness:</strong> {{system.hardness}}</span>{{/if}}
        {{#if system.cost}}<span><strong>Cost:</strong> {{system.cost}}</span>{{/if}}
        {{#if system.hp}}<span><strong>HP:</strong> {{system.hp}}</span>{{/if}}
        {{#if (eq item.type "spell")}}<span><strong>WP Cost:</strong> {{system.cost}}</span>{{/if}}
        {{#if system.tradition}}<span><strong>Tradition:</strong> {{system.tradition}}</span>{{/if}}
    </footer>
</div>
