<div class="godfall chat-card spell-cast" data-item-id="{{item.id}}">
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{#if item.system.description}}
            {{{item.system.description}}}
        {{else}}
            <p>Casts {{item.name}} ({{item.system.tradition}} tradition)</p>
        {{/if}}
        
        {{#if damageRoll}}
        <div class="damage-roll">
            <h4>Damage: {{damageRoll.total}}</h4>
            <p class="roll-formula">{{damageRoll.formula}}</p>
        </div>
        {{/if}}
        
        {{#if (gt wpCost 0)}}
        <div class="wp-cost">
            <p><strong>Willpower Cost:</strong> {{wpCost}} WP</p>
        </div>
        {{/if}}
    </div>

    <footer class="card-footer
