<!-- templates/chat/spell-card.html -->
<div class="godfall chat-card spell-card" data-item-id="{{item.id}}">
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{#if system.description}}
            {{{system.description}}}
        {{else}}
            <p>A {{system.tradition}} spell.</p>
        {{/if}}
    </div>

    <footer class="card-footer">
        <span><strong>WP Cost:</strong> {{system.cost}}</span>
        {{#if system.tradition}}<span><strong>Tradition:</strong> {{system.tradition}}</span>{{/if}}
    </footer>
</div>
